<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Bull n Cows </title>
        <link rel="stylesheet" href="CSS/bnc.css">
        </head>
<body>

    
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" >BullS aNd CowS</a>
              </div>
              <ul class="nav navbar-nav">
                <a href="/" >Home </a>
                <a href="/bnc" >BNC </a>
                <a href="/contact" >Contact </a>
                <a href="/guestbook" >GuestBook</a>
              </ul>
            </div>
          </nav>
  <article>
    <section><header class="section-header">Bulls N Cows</header>
    <p>
    Bulls and cows is a mind game to guess the random generated number with some Hints.
    </p></section>
   </article>
<p id="pTag"></p>

<img src="images/play.png" onclick="play()" id="play">
<div id="level" style="width: 60%; float:left">
  <div class ="list_side" >
  <img src="images/easy_img.png" class="img-circle" onclick="selectLevel(this)" id="easy" value="1">
  
</div>
  <div class ="list_side">
  <img src="images/medium_img.jpg" class="img-circle" onclick="selectLevel(this)" id="medium" value="2">
  </div>
  <div class ="list_side">
  <img src="images/hard_img.png" class="img-circle" onclick="selectLevel(this)" id="hard" value="3">
  </div>
</div>
<div id="formIn" style="width: 50%; float:left">
    
 
<form action="javascript:getBNc()" >
    <div id="digits">Enter a 4 digit number:</div><br>
    <input type="number" name="number"  id="number" required="true">
    <br>
    
    <input type="submit" value="Submit" class="button button1">
  </form> 
  <table  id="myTable">
    <tr>
      <th>Number Entered</th>
      <th>Bulls</th>
      <th>Cows</th>
    </tr>
    
    <tr>
      <td></td>
      <th></td>
      <td></td>
    </tr>
  </table>
 </div>
 <div style="width: 40%; float:right">
    <p><b>No of Players:</b><br> One <br><b>Description:</b><br>
      Computer selects a some random number, all the digits are different. In current implementation number may not begin with 0.<br>
       Any number can be guessed in n number of trails. <br>
       Bulls" shows how many of those that exists were placed at the right spots ,<br>
       "Cows" column displays total number of digits you guessed are correct but they are not in a right position
        - "Cows".
      <br>At each turn the Guesser tries a four digit number, <br>
      and the Chooser says how close it is to the answer by giving:
      <ul>
          <li>The number of Bulls - digits correct in the right position.</li>
          <li>The number of Cows - digits correct but in the wrong position.</li>
        </ul>
      </p>


 </div>
<script src="js/bnc.js"></script>
</body>
</html>