<head>
  <meta charset="utf-8">
  <title>Shruthi Patlolla</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
  bootstrap.min.css">
  <link rel="stylesheet" href="CSS/contact.css">
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          <a href="/" >Home </a>
          <a href="/bnc" >BNC </a>
          <a href="/contact" >Contact </a>
          <a href="/guestbook" >GuestBook</a>
      
      
  
          </nav>
            <div >
          <form action="">
                Inbox me your queries:<br>
                Email ID:<input type="text" name="email"  id="email" value="please enter your Email ID">
                <br>
                Question :<textarea name="text_area" id="msg" value="write your query"></textarea>
                <br>
                
                
                <input type="submit" value="Submit" class="button button1">
              </form>  
              <div id="info">Find me at</div><br>
              </div>
              
                          <div id="container">
                                <div id="left"><a href="https://github.com/ShruthiPatlolla76">
                                    <img src="images/git.jpg" alt="">
                                  </a></div>
                                <div id="right"><a href="https://bitbucket.org/ShruthiPatlolla76/">
                                    <img src="images/bitBucket.jpg" alt="">
                                  </a></div>
                                <div id="center"><a href="https://www.linkedin.com/in/shruthi-patlolla-b8a3b397/">
                                    <img src="images/LinkedIn.jpg" alt="">
                                  </a></div>
                              </div>
              
 
<% include footer %>