
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Shruthi Patlolla</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="CSS/guestbook.css">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <a href="/" >Home </a>
        <a href="/bnc" >BNC </a>
        <a href="/contact" >Contact </a>
        <a href="/guestbook" >GuestBook</a>
    
    

        </nav>




