<head>
    <meta charset="utf-8">
    <title>Shruthi Patlolla</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
    bootstrap.min.css">
    <link rel="stylesheet" href="CSS/index.css">
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <a href="/" >Home </a>
            <a href="/bnc" >BNC </a>
            <a href="/contact" >Contact </a>
            <a href="/guestbook" >GuestBook</a>
        
        
    
            </nav>
    <img class="img-circle" src="images/shruthi.jpg" >
    <br>
<article>
    <section><header class="section-header">Shruthi Patlolla</header>
    <p>
        I am a
        Graduate student for spring 2018 intake for Masters in Applied Computer Science at North West Missouri State University.
    </p></section>
   </article>
<br>
<br>
   
<iframe 
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
<% include footer %>