
*{
  background-color: rgb(97, 182, 89);
}
h1{
  color: rgb(10, 68, 102);
  font-family: 'Times New Roman', Times, serif;
}
h2{
  color: rgb(145, 50, 66);
}
a{
  color: rgb(26, 22, 22);
}
div{
  color: rgb(25, 23, 163);
}